.DS_Store
.env
**/.env
!**/.env.example
venv/
**/venv/
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.db
*.sqlite
*.sqlite3
*.log
error.txt
node_modules/
dist/
.vite/
.idea/
.vscode/
.neon
